.map-container {
    flex: 1;
  
    overflow: hidden;
  
    background: #d7ead3;
  }
  
  .map {
    display: grid;
  }
  
  /*.map {
    width: 100vw;
    height: 100vh;
  
    overflow: auto;
  
    background: #f3f4f6;
  }